.space{
    margin-top: 2px;
}
#item-loisir {
    display: inline-flex;
    list-style: none !important;
 }
 
 div p.afterClick a i {
    background-color: #f39200 !important;
    padding: 10px 13px !important;
    height: 50px !important;
    width: 55px !important;
    color: white !important;
    font-size: 167% !important;
    border: 2px solid #f39200 !important;
    border-radius: 2rem !important;
 }
 
 @media screen and (min-width:768px) {
    .image-top-custom {
       background-color: white !important;
       padding: 10px 13px !important;
       height: 50px !important;
       width: 55px !important;
       color: #f39200 !important;
       font-size: 167% !important;
       border: 2px solid #f39200 !important;
       border-radius: 2rem !important;
    }
 }
 
 .nav-custom {
    border-bottom: 1px solid black !important;
 }
 
 @media screen and (max-width:768px) {
    .image-top-custom {
       background-color: white !important;
       padding: 10px 13px !important;
       height: 50px !important;
       width: 55px !important;
       color: #f39200 !important;
       font-size: 167% !important;
       border: 2px solid #f39200 !important;
       border-radius: 2rem !important;
    }
 }
 
 /*  .afterClick.active{
    background-color: #f39200 !important;
    padding:10px 13px !important;
    height: 50px !important;
    width: 55px !important;
    color: white !important;
    font-size: 167% !important;
    border: 2px solid #f39200 !important;
    border-radius: 2rem !important;
 
 } */
 
 .taille{
     height: 540px;
     margin-bottom: 40px;
 }
 .image_size{
    height: 300px;
 }
 .image-top-custom:hover {
    background-color: #f39200 !important;
    padding: 10px 13px !important;
    height: 50px !important;
    width: 55px !important;
    color: white !important;
    font-size: 167% !important;
    border: 2px solid #f39200 !important;
    border-radius: 2rem !important;
 }